<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BookStoreTestSuite">
	<test name="LoginTests">
		<classes>
			<class name="com.demoqa.tests.LoginTests">
				<methods>
					<include name="validLoginTest" />
					<include name="invalidLoginTest" />
				</methods>
			</class>

			<classes>
				<class name="com.demoqa.tests.BookStoreTests">
					<methods>
						<include name="searchBookTest" />
					</methods>
				</class>
			</classes>
	</test>
</suite>